/* selector de etiquerta 
header {
    background: rebeccapurple
}
selector descendente 
body header div nav ol li a {
    background: red
} 
selector de clase 
.link {
    background: blue
}
selector de id
#id {
    background: blue
} */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    line-height: 1.5em;
    font-size: 40px;
    font-weight: normal;
    /* font-style: italic; */
    letter-spacing: -.2px;
    text-transform: uppercase;
    /* text-decoration: underline; */
}
h1 strong {
    color: blue;
}