/* selector de etiquerta 
header {
    background: rebeccapurple
}
selector descendente 
body header div nav ol li a {
    background: red
} 
selector de clase 
.link {
    background: blue
}
selector de id
#id {
    background: blue
}

gris oscuro =  #1d252c
gris claro = #626262
background gris = #1b2127
celeste = #026fff
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

ol, ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    line-height: 1.5em;
    font-size: 40px;
    font-weight: normal;
    /* font-style: italic; */
    letter-spacing: -.2px;
    text-transform: uppercase;
    /* text-decoration: underline; */
    color: white;
    margin: 0;
}

h2 {
    color: #026fff;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero strong {
    color: #026fff;
}

.hero {
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    /* background-size: 500px 300px;
    background-repeat: no-repeat; */
    background-position-x: right;
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    object-fit: cover;
}

.menu {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
}

.header ol{
    height: inherit;
    display: inline-block;
    align-items: center;
}

.header li {
    margin: 15px 0;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
}

.header a {
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

figure {
    margin: 0;
}

.portfolio {
    background-color: #fafafa;
    padding: 20px;
}

.project {
    /* border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid pink;
    border-bottom: 10px solid blue; */
    border: 1px solid gray;
    border-radius: 10px;
    /* margin-bottom: 15px; */
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-course,
.project-date,
.project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event {
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f4fbff
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    background-color: white;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-main {
    margin-left: 20px;
}

.event-description {
    text-align: left;
}

.event-url {
    color: #056fff;
    border: 1px solid ;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0px 10px;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.github {
    background-image: url('../images/github.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.form-email input{
    border-color: grey;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 5px;
    border-style: solid;
}

.form-email button {
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.footer {
    color: white;
    background: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

/* .flexbox {
   display: flex;
   flex-wrap: wrap;  
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    flex-shrink: 0;
    margin: 10px;
} */